//utilisties

.bln {
	border-left:none
}

.hide {
	display: none;
}

.brn{
	border-right:none
}
//flex-box

.flex{
	display: flex;
}

.clear{
	clear: both;
}

.f-right{
	float:right;
}

.f-left{
	float:left;
}

.top-deco-sep {
	&:before {
		@include before-top-deco(80px, 1px, 40px, palette(red, base));
	}
}
