///Helper classes for border radius. 4PX is the default for fuzzy inputs that need it.

.radius-2{
	@include border-radius(4px);
}

.radius-4{
	@include border-radius(4px);
}

.radius-8{
	@include border-radius(8px);
}
