.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 200px;
  height: 60px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: purple;
  padding: 8px 15px;
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: red transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken(purple, 2);
  }
  &:active, &.active {
    background-color: darken(purple, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent red transparent;
    }
  }
}

td select{
  border: medium none;
  padding: 0.5em 1em 0.5em 0.25em;
  width: 100% !important;
}
