/// Classes to help with type

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: $fwn;
}
.h1, .h2 {
	line-height: 1;
}
.h3, .h4 {
	line-height: 1.1;
}
.big-title{
	@include fontSize(24px);
	line-height: 1.5;
	letter-spacing: -1.1px;

		@include tab {
			@include fontSize(30px);
		}

		@include lrg {
			@include fontSize(34px);
		}
}


.h1{
	@include fontSize(20px);

		@include tab {
			@include fontSize(24px);
		}

		@include lrg {
			@include fontSize(28px);
		}

}


.h2{
	@include fontSize(18px);

		@include tab {
			@include fontSize(19px);
		}

		@include lrg {
			@include fontSize(22px);
		}
}

.h3{
	@include fontSize(14px);

		@include tab {
			@include fontSize(16px);
		}

		@include lrg {
			@include fontSize(18px);
		}
}
.h4{
	@include fontSize(12px);
}

.h5 {
	@include fontSize(11px);
}
///used to prefix a heading next to it

.prefix-light-c{
  color: palette(blue,xx-light);
}


.inline {
	display: inline !important;
}

//h2.inline {
//	color:lighten($color-text, 10%);
//}
.light-color{
	color:$light-color;
}

.big-para{
	@include fontSize(16px);

		@include tab {
			@include fontSize(19px);
			line-height:34px;
		}

	&:first-of-type {
		margin-top:2.5em;
	}

	&:last-of-type {
		margin-bottom:0;
	}
}
// Type helper class

.stand-out-text{
	@include fontSize(18px);

	@include tab {
		@include fontSize(20px);
	}

	@include lrg {
		@include fontSize(24px);

	}
}

.line{
	 display:block; // perfect for nested span that need to be on a separate line clearly using the word perfect loosely here
}

.label {
	@include fontSize(14px);
}

.upper{ text-transform:uppercase;}

.quiet { font-color: palette(text, x-light); }

//sizing

.small-type-size { @include fontSize(14px);}
.medium-type-size { @include fontSize(16px);}
.large-type-size { @include fontSize(22px);}

// .loud  { font-color: $loud-color; }

.italic { font-style: italic; }


//Font weigth helper class

.light, .fwl {font-weight: $fwl;}
.fwn {font-weight: $fwn;}
.bold , .fwb  { font-weight: $fwb; }
.heavy, .fwh	{font-weight: $fwh; }

.num {
	font-family:$heading-stack;
	letter-spacing:2px;
}

.sup-heading{
	@include fontSize(9px);
	font-family: $font-stack;
	letter-spacing:.05em;
	color: #605d77;
	line-height: 1.8em;

	@include tab {
		@include fontSize(10px);
	}

	&+ .num{
		@include fontSize(14px);
	}
}

table .num{
	@include fontSize(18px);
}

.heading-text {
	font-family: $heading-stack;
}

//List styles
.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal-leading-zero; }


// Letter Spacing
.spaced-normal{ letter-spacing:normal;}
.spaced-small{ letter-spacing:1px;}
.spaced-medium{ letter-spacing:2px;}
.spaced-loose{ letter-spacing:4px;}

.small-text {
	@include fontSize(12px);
}

//Padding elements1

.pad-0-20{ padding:0 20px;}
.pad-20{ padding: 20px;}
.pad-0-60 { padding:0 60px;}
.pad-0-40 { padding:0 40px;}
.pad-20-40 { padding:20px 40px;}
.pad-40-40 { padding:40px;}
.pad-40-40-0 { padding:40px 40px 0;}
.pad-40 { padding:40px;}
.pad-40-0{ padding:40px 0;}
.side-pad-left-20{ padding-left:20px;}
.side-pad-right-20{ padding-right:20px;}

//left padding
.side-pad-left-40{ padding-left:40px;}
//Right padding
.side-pad-right-40{ padding-right:40px;}

//Margins
.block-margins { margin: 1em 0; }

.ml-40 { margin-left:40px;}
.mr-40 { margin-right:40px;}

.m-40-0 {margin:40px 0}
.m-40-0-0 {margin:40px 0 0}

///margin helpers
//tiny

.mbst{
	margin-bottom: $margin-bottom-super-tiny;
}
.mbt{
		margin-bottom:$margin-bottom-tiny;
}

//small
.mbs {
	margin-bottom:$margin-bottom-small;
}
///regular
.mbr{
		margin-bottom:$margin-bottom-regular;
}
///large
.mbl{
		margin-bottom:$margin-bottom-large;
}
