//Pricng Page styles

.pricing-zone {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
}

.pricing-package {
	border:1px solid palette(grey, dark);
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 580px;
	flex-shrink: 0;
	transition: all .3s ease-in;

	&:hover{
		border-color: palette(purple,x-dark);
		background: #FCFCF4;
		box-shadow: inset 0 0 0 8px palette(purple, base);

	}
}


.pricing-package ul{
	@include padding-all(20px, 40px, 0px, 40px);
	flex-shrink: 0;

	li{
		@include fontSize(14px);
	}
}

.pricing-package:nth-child(1) .btn__regular:after{
	content: "NO Credit Card Required";
	display:block;
	color:palette(purple, base);
	font-size:12px;
	font-weight: $fwb;
	position:absolute;
	bottom:15px;
	left:10%;
	right:10%;
}

.pricing-package:nth-of-type(2) {
	color:$white;
	background: palette(orange,base);
	border-color: palette(orange,dark);
	z-index:2;

	&:hover{
		background: $gradient-red-or;
		border-color: palette(orange,light);
		box-shadow: inset 0 0 0 8px #fdfdf9;

	}

	.btn__regular{
		color:#DCE0E4;
		border-color:#DCE0E4;

		&:hover{
			background: palette(grey,base);
			color: palette(text,base);
		}
	}

	h3{

		&:before {
			content: "Most popular plan";
			display: block;
			@include fontSize(10px);
			margin:-20px 0px 10px;
			text-transform:uppercase;
			letter-spacing:1px;
			font-weight: $fwh;
			color: $white;
		}
	}
 }


.plan-header{
	@include padding-all(80px, 40px, 40px, 40px);
}

.price-btn-wrapper {
	display: flex;
  flex: 1;
	flex-shrink: 0;
	flex-direction: column;
  justify-content: flex-end;
	padding: 0px 40px 40px;
}

.plan-price{
	text-transform: uppercase;

	@include element(month) {
		@include fontSize(12px);
		font-family: $font-stack;
		letter-spacing: 4px;
		font-weight: $fwh;
	}

	@include element(num) {
		@include fontSize(48px);
		letter-spacing: 4px;
		position: relative;
		padding-left:20px;
		font-weight: $fwh;
	}

	@include element(dollar-sign) {
		@include fontSize(24px);
		position: absolute;
		top:8px;
		left:0;
	}
}

.upgrade-option {
	padding: 20px 40px;
}
