/* general */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  background: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /* Set the fixed height of the footer here */
  height: 130px;
  background-color: #f5f5f5;
}

h1, h2, h3, .navbar, .jumbotron h1, .nav-tabs {
  font-family: Raleway;
  font-weight: 500;
  color: #6f6f6f;
  margin-bottom: 20px;
}

h3, .nav-tabs {
  font-size: 24px;
}

a, a span, button {
  color: #D76979;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover {
  color: #D76979;
}

.btn, .btn-primary {
  border-radius: 6px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  padding: 4px 10px;
  color: #fff;
  background: #D76979;
  box-shadow: none;
  border: 2px solid #D76979;
}

.btn-default {
  color: #D76979;
  background: #fff;
}

h3 .btn-primary {
  margin: -15px 0 -10px 10px;
}

.btn-primary.btn-lg {
  padding: 10px 20px;
  border-radius: 12px;
  border: 6px solid #fff;
  font-size: 25px;
}

.btn:hover, .btn:focus, .btn:active , .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #D76979;
  background: #fff;
}

.btn-primary.btn-lg:hover, .btn-primary.btn-lg:focus, .btn-primary.btn-lg:active {
  border: 6px solid #fff;
  background: #f9f9f9;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: #fff;
  background: #D76979;
  border-color: #D76979;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}


/* header and navbar */

.navbar-default {
  font-size: 17px;
  background: #f5f5f5;
  border-bottom: 1px solid #fff;
  padding-top: 5px;
  font-weight: 400;
}

.navbar-default .navbar-brand {
  padding: 0;
  margin: 15px 105px 3px 0;
  height: 42px;
  font-family: Convergence;
  font-size: 28px;
  letter-spacing: -1px;
  color: #D76979;
}

.navbar-default .navbar-brand:hover {
  color: #b6b6b6;
}

.navbar-default .navbar-nav>li>a {
  padding: 1px 0;
  margin: 15px 10px 0;
  color: #777;
  border-bottom: 2px solid #f7f7f7;
}

.navbar-default .navbar-nav>li.dropdown {
  margin-right: 10px;
}

.navbar-default .navbar-nav>li.dropdown>a {
  margin-right: 0;
  margin-left: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #D76979;
  border-bottom: 2px solid #DF949F;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #b6b6b6;
  border-color: #ccc;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #D76979;
  background: none;
}

.navbar-default .navbar-nav.navbar-right>li>a.btn, button#logout {
  padding: 5px 15px;
  margin-top: 11px;
  background: #fcfcfc;
  color: #D76979;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: none;
  border-radius: 6px;
  border: none;
}

.navbar-default .navbar-nav.navbar-right>li>a.btn:hover {
  /* background: #fff; */
  background: #D76979;
  color: #fff;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 6px;
  padding: 0;
  width: 100%;
  border: none;
  text-align: right;
}

.dropdown-menu>li>a {
  padding-right: 15px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background: #D76979;
  color: #fff;
}

/* front page */

.container .jumbotron {
  background: none;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px 0;
  font-size: 19px;
}

.jumbotron h1 {
  margin: 10px 0 25px;
  font-size: 50px;
}

.jumbotron p {
  font-weight: 400;
}

.fuzzy-intro {
  margin-top: -62px;
  padding: 50px 0;
  background: #f9f9f9;
  text-align: center;
}
/*
.fuzzy-intro h2.left:before {
  content: url('/images/crossplatform.png');
  color: #fff;
  text-align: center;
  background: #aaa;
  border: 6px solid #e6e6e6;
  display: block;
  border-radius: 150px;
  width: 150px;
  margin: 0 auto 20px;
}

.fuzzy-intro h2.middle:before {
  content: url('/images/pricing.png');
  color: #fff;
  text-align: center;
  background: #aaa;
  border: 6px solid #e6e6e6;
  display: block;
  border-radius: 150px;
  width: 150px;
  margin: 0 auto 20px;
}

.fuzzy-intro h2.right:before {
  content: url('/images/versatile.png');
  color: #fff;
  text-align: center;
  background: #aaa;
  border: 6px solid #e6e6e6;
  display: block;
  border-radius: 150px;
  width: 150px;
  margin: 0 auto 20px;
}
*/
/* sidebar */

.sidebar {
  padding-left: 0;
}

.sidebar h3 {
  margin-top: 31px;
}

.sidebar > li {
  list-style: none;
}

.sidebar .nav>li>a {
  padding: 0;
  margin: 0 0 10px;
  color: #777;
  background: none;
}

.sidebar .nav a:before {
  content: '\2022';
  font-size: 22px;
  color: #D76979;
  line-height: 14px;
  position: relative;
  top: 3px;
  margin-right: 5px;
  min-height: 25px;
  float: left;
}

.sidebar .nav a.addlink:before {
  content: '+';
  font-size: 18px;
  font-weight: 700;
  left: -1px;
  margin-right: 4px;
}

.sidebar .nav>li>a:hover {
  color: #D76979;
}

.sidebar .nav li li {
  margin-left: 15px;
}

.sidebar .nav li li a {
  font-size: 0.9em;
}

/* Documentation anchors */

a.docs {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* page elements */

.section {
  padding: 30px 0;
  border-top: 1px dotted #E7C8C8;
}

.section h3:first-child {
  margin-top: 0;
}

.section h3:last-child {
  margin-bottom: 0;
}

.nav-tabs>li>a {
  padding: 5px 15px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  background: #f9f9f9;
}

.table>thead>tr>th, .table>tbody>tr>th {
  border-top: none;
}


/* css for background image on homepage */
.homebg {
  background: url('/images/homebackground.jpg') top center;
  background-size: 100% 100%;
}

.bgimage-inside {
  padding-top: 10%;
}

.bgimage-inside .container {
  height: 100%;
}

/* Merged from pricing.css */

.flat {
  margin-left: 5px;
}

.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 35px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 3px 3px #f5f5f5;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #555558;
  margin-bottom: 15px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
/*.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}
.flat .plan:hover li.plan-name {
  background: #000;
} */
