//Variables

// Typography variables

$font-stack: ("proxima-nova","proxima-nova-alt","canada-type-gibson", Gotham, "Gotham SSm A", "Gotham SSm B", "proxima-nova", Helvetica, sans-serif);
$heading-stack: ( "gnuolane", "Tungsten A", "Tungsten B",  Tungsten, Helvetica, sans-serif);

$monospace-stack: (
	Consolas,
	"Andale Mono WT",
	"Andale Mono",
	Monaco,
	"Courier New",
	Courier,
	monospace);

$serif-stack: (Cambria, georgia, serif);

// base type size
$base-font-size: 16px;
$base-line-height: 1.8em;


// Font-weight font-weight[]
$fwl : 300; // normal;
$fwn : 400; // normal;
$fwb : 700 ; // bold;
$fwh : 900 ; // heavy;



// margins
$margin-bottom-super-tiny: 4px;
$margin-bottom-tiny: 10px;
$margin-bottom-small: 16px;
$margin-bottom-regular: 32px;
$margin-bottom-large: 38px;
