//forms

button{
	border:none
}
input,
select,
textarea{
	-moz-appearance: none;
	color:palette(text, x-light);
	letter-spacing:1px;
	@include fontSize(14px);
}
input[type="text"], input[type="password"], input[type="email"],input[type="number"], input, textarea{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding:0px 20px;
	background: #FAFBF3;
	border: 1px solid lighten(palette(grey,dark), 5%);
	outline: none;
	transition: all .3s ease-in-out;
	margin-bottom: $margin-bottom-small;

	&:focus{
		background: #FFFEF7;
		border-color: #d5d4d5;
	}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #FFFEF7 inset !important;
	&:focus{
		background:#FFFEF7;
		border-color: #d5d4d5;
	}
}


input[type="number"]{
	appearance: none !important;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	::-webkit-inner-spin-button { -webkit-appearance: none;}
	::-webkit-outer-spin-button { -webkit-appearance: none;}
}
select{
	appearance: none !important;
	-webkit-appearance: none;
}

textarea	{
	min-height: 220px;
	&:focus{
		background: #FFFEF7;
	}
}

label{
	@include fontSize(13px);
	display: block;
	margin-bottom:.5em;

	@include tab {
		margin-bottom:1em;
		letter-spacing: 1px;
	}
}

::placeholder {
	color: rgba(palette(text,base), .85);
}



:not(output):-moz-ui-invalid {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none;
}
