//list styles

ul, ol,
ul li,
ol li{
	margin-bottom: $margin-bottom-regular;
}

ol li{
	list-style: decimal;
	li{
		list-style: upper-alpha;
	}
}

li ol, li ul{
	margin:32px 0px;
	padding-left:40px;
}

li ol li{
	list-style-type: disc;
}
