

p{
	margin: 0 0 32px;
	letter-spacing: 0.5px;
}

i, em {
	font-style: italic;
}

li{
	 margin-bottom: $margin-bottom-regular;
}

p + h2, p + h3, p + h4{
	@include margin-all(0, 0px, 32px, 0px);

}

pre, code{
	border-radius: 2px;
	border:1px solid #fffae3;
	font-family: $monospace-stack;
	font-size: 14px;
	background: #392541;
	overflow-wrap:  break-word;
	white-space: pre-wrap;
	word-wrap:  break-word;
	padding: 0.125rem 0.125rem 0.0625rem;
	margin: 32px 0;
	color: #fffae3;
	letter-spacing:normal;
}

code{
	overflow: auto;
	padding: 0.25rem 0.125rem 0.25rem;
	white-space: nowrap;
	background: #392541;
	border: 1px solid #fffae3;
}

table pre{
	margin: 0 0px 0 80px;
	@include tab {
	margin: 0;
	}
}

//pre & code styles
p + pre, h1 + pre,  h2 + pre, h3 + pre, table + pre, td pre{
	padding: 16px;
}

strong, b {
	font-weight: bold;
}
