/// animations

/// Slide in animation. Fade In Animation

@include keyframes(fadeSlideInLeft) {

  0% {
    transform: translate3d(100%, 0, 0);
    opacity:0;
  }
  50% {
    transform: translate3d(50%, 0, 0);
    opacity:0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
}


@include keyframes(fadeSlideInRight) {

  0% {
    transform: translate3d(-100%, 0, 0);
    opacity:0;
  }

  100% {
    transform: none;
    opacity:1;
  }
}

/// Slide down

@include keyframes(slideDown) {

  	0% {
  		transform: translateY(-100%);
  	}
  	50%{
  		transform: translateY(8%);
  	}
  	65%{
  		transform: translateY(-4%);
  	}
  	80%{
  		transform: translateY(4%);
  	}
  	95%{
  		transform: translateY(-2%);
  	}
  	100% {
  		transform: translateY(0%);
  	}
  }



@include keyframes(basicSlideDown) {
  from {
      transform: translate3d(0, -10%, 0);
      opacity: 0
  }
  to {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
  }

/// Fade in text slide from top
@include keyframes(fadeInText) {

  	0% {
  		opacity: 0;
  	 }
  	 50% {
  		opacity: .5;
  		}
    100% {
  		opacity: 1;
  	}
  }


  @include keyframes(fadeIn) {
  	0% {
  		opacity: 0;
  	 }

    100% {
  		opacity: 1;
  	}
  }


@include keyframes(scale) {
	0% {
		transform: scale(.1);
		}
  50% {
	  transform: scale(.25);
	}
  75% {
	  transform: scale(.50);
	}
  90% {
    transform: scale(1.1);
  }
  100% {
	  transform: scale(3);
	}
}

@include keyframes(scaleInitial) {
	0% {
		transform: scale(.1);
		}
  50% {
	  transform: scale(.25);
	}
  75% {
	  transform: scale(.50);
	}
  90% {
    transform: scale(.75);
  }
  100% {
	  transform: scale(1);
	}
}


@include keyframes(dropIn) {

  	0% {
  		transform: translateY(-100%);
  	}
  	25%{
  		transform: translateY(-75%);
  	}
  	50%{
  		transform: translateY(-50%);
  	}
    75%{
  		transform: translateY(-25%);
  	}

  	100% {
  		transform: translateY(0%);
  	}
  }



  @include keyframes(ruleLoading) {
    0% {
      opacity: 0;
      width:0;
     }
     50% {
      opacity: .5;
      width:50%;
      }
    75% {
      opacity: .75;
      width:50%;
      }
    100% {
      opacity: 1;
      width:100%
    }
  }

@include keyframes(editModeOpen) {
  0% {
    opacity: 0;
    width:0;
   }
   50% {
    opacity: .5;
    width:50%;
    }
  75% {
    opacity: .75;
    width:100%;
    }
  100% {
    opacity: 1;
    width:100%;
  }
}

// SVG animations

@include keyframes(dash) {
  to {
    stroke-dashoffset: 0;
  }
}


@include keyframes(agentDropdown) {
  0%   {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


///SPINNER SCALE

  @keyframes spinner-scale {
    0% {
      transform: scale(0.1);
      opacity: 1; }
    75% {
      transform: scale(1);
      opacity: 0.5; }
    100% {
      opacity: 0.0; }
    }


  ///fadeout

  @include keyframes(fadeOut) {
    0% {
      opacity: 1;
     }
     50% {
      opacity: .5;
      }
    100% {
      opacity: 0;
    }
  }



  @include keyframes(agentNavAnim) {

    	0% {
    		transform: translateY(-100%);
        opacity: 0;
    	}
    	50%{
    		transform: translateY(-75%);
        opacity:.25
    	}
    	75%{
    		transform: translateY(-50%);
        opacity:.55
    	}
      90%{
        transform: translateY(0%);
        opacity:.65
      }

    	100% {
    		transform: translateY(0%);
        opacity:1;
    	}
    }

    @include keyframes (fadeInDown) {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  //50%{
  //  opacity:0;
  //  transform: translate3d(0, -25%, 0);
  //}

  100% {
    opacity: 1;
    transform: none;
  }
}

@include keyframes (fadeInUp) {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@include keyframes (bgAnim) {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

@include keyframes(comeUp) {
  0 {
      transform: translate3d(0, 50%, 0);
      opacity: 0
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1
  }
}
