/// Mixins
//	If you don't have any args, create a placeholder. Better performance.
/// Functions go in the function files

/// BEM cleans up sass files for BEM front end work
/// Using @content


@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}


///CLEARFIX

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/// WIDTH HEIGHT

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}


//font-sizing

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

/// PADDING

// Padding shorthand version
@mixin padding($padding) {
  padding: $padding;
}

// Padding longhand version
@mixin padding-all($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}



/// MARGIN


// Margin shorthand version
@mixin margin($margin) {
  margin: $margin;
}

// Margin longhand version
@mixin margin-all($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}








// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
//
// $ratio - Ratio the element needs to maintain.
//
// Examples
//
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16 9);
//   }
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));

  width: $width;
  height: 0;
  padding-bottom: $height;
}

/// BOX SIZING

@mixin box-sizing($box-model) {
  box-sizing: $box-model;
}

/// COLUMNS

@mixin columns($count: 2, $gap: 40px) {
    column-count: $count;
    column-gap: $gap;
}


/// KEYFRAME ANIMATION

@mixin keyframes ($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

/// TRANSITION

@mixin transition ($args...) {

  transition: $args;
}



///BEFORE LINE DECO

@mixin before-top-deco($width, $height, $margin-b, $bg-color){
	content:"";
	width: $width;
	height: $height;
	display:block;
	margin-bottom: $margin-b;
	background: $bg-color;
    // :before {
		// 	content: '';
		// 	display: block;
		// 	width: $width;
		// 	height: $height;
    //
		// }
}


/// AFTER LINE DECO

@mixin after-top-deco($width, $height, $margin-t, $bg-color){
	content:"";
	width: $width;
	height: $height;
	display:block;
	margin-top: $margin-t;
	background: $bg-color;
	 	&:after
	 	 {
			content: '';
			display: block;
			width: $width;
			height: $height;

		}
}


/// GRADIENTS

@mixin gradient($from, $to) {
	background-color: $from;
	background-image: -moz-linear-gradient($from, $to);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
	background-image: -webkit-linear-gradient($from, $to);
	background-image: -o-linear-gradient($from, $to);
}

/// CENTER ELEMENTS WITHOUT FLEXBOS USING TRANSFORM TRANSLATE LIKE ONE WOULD ;)

@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin top-centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

@mixin btn {
  background:transparent;
  border: 1px solid palette(red, dark);
	color: palette(red, dark);
	text-align: center;
	text-transform: uppercase;
	font-family: $heading-stack;
	font-size: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom:20px;
	padding:.55em 1.05em;
  min-width:120px;
	display: inline-block;
	font-weight:$fwn;
  transition: all .3s ease-in;
  cursor: pointer;

  @include tab {
    padding:.55em 1.25em;
    font-size: 16px;
  }

  &:hover{
    color: palette(bg, base);
    background:rgba(palette(red, dark),.99);
    background: linear-gradient(35deg,palette(orange,base) 35%, palette(red,base) 55%);
  }
}

/// MEDIA QUERIES

@mixin small-landscape{
	@media only screen and (min-width: 480px){
		@content;
	}
}

@mixin pretab{
	@media only screen and (min-width: 640px){
		@content;
	}
}


@mixin tab{
	@media only screen and (min-width: 768px){
		@content;
	}
}

@mixin med{
	@media only screen and (min-width: 940px){
		@content;
	}
}

@mixin lrg{
	@media only screen and (min-width: 1200px){
		@content;
	}
}

@mixin xl{
	@media only screen and (min-width: 1400px){
		@content;
	}
}

@mixin dudeWTF{
	@media only screen and (min-width: 1700px){
		@content;
	}
}


///Retina images

@mixin image-2x($image, $width, $height) {
  @media (-webkit-min-device-pixel-ratio: 2),
         (min--moz-device-pixel-ratio: 2),
         (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}


@mixin border-radius($radius) {
  border-radius: $radius;
}
