//agent nav


.agent-nav{
  position:absolute;
  top:0;
  right:0;
  opacity:1;

}

.setting-icons{
  position: absolute;
  width: 65px !important;
  height: 60px !important;
  background:#F9F9F3;
  border:1px solid palette(grey, dark);
  transition:all .3s ease-in;
  fill:  palette(purple, base);
  box-shadow: inset 0 0 0 0  palette(bg,base);

  &:hover {
    box-shadow: inset 0 0 0 100px #fdfdf9;

    svg {
      fill: palette(red, base);
    }
  }

}
.nav-ui-icon-wrapper{
  width:100%;
  position:relative;
  height:60%;
  text-align:center;

  svg {
    width:15px !important;
    position:relative;
    top:25% !important;

  }
}

.agent-nav__text{
  width:100%;
  line-height:1.2;
  text-align: center;
  @include fontSize(10.5px);
  letter-spacing: 1px;
  color:$color-text;
  width:100% !important;
  display: block;
}
.active{
  box-shadow: inset 0 0 0 100px #FFFEF7;
  .agent-nav__text{
    color:#594d5f;
  }
  svg{
    fill: #694e7c;
  }
}

.ui-icon{
      fill:  palette(purple, base);
      stroke-width:4px;
}

.agent__setting{
  top: -1px;
  right: -1px;
}



.agent-stats{
  top: -1px;
  right: 63px;
  svg{
    fill:  palette(purple, base);
  }
}

.agents-edit{
  top: -1px;
  right: 126px;
}

.agents-test{
  top: -1px;
  right: 189px;
}


.agent-nav-appear{
  @include animation('fadeIn 1s ease-in');
}

.agent-nav-appear-active {
  @include animation('fadeIn 1s ease-in');
  box-shadow: inset 0 0 0 100px #F6F6F3;
}
