///ALL OF THE LOGS SON!

.stand-alone-logs{
  border: 1px solid palette(grey,dark);
}

.agent-logs {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom:-1px;

  h2{
        padding: 30px 20px;
        margin: -2px 0 1px 0;
        background: #FDFDF9;
        border-top: 1px solid palette(grey,dark);

        @include tab {
          padding: 40px;
        }
      }
}

.agent-logs-content {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom:-1px;

  @include tab {
    flex-direction: row;
  }
}

.agent-logs-content__text{
  flex: 1;
  padding: 40px 20px;
  border: 1px solid palette(grey,dark);
  border-left: none;
  border-right: none;
  background: #FDFDF9;

  @include tab {
    flex: 0 0 29.95%;
    padding: 40px;
  }
}

.agent-logs-content__chart{
  flex: 1;
  padding: 40px 20px;
  background: #F9F9F3;
  border: 1px solid palette(grey,dark);
  border-right: none;
  border-top: none;
  border-left: none;
  position: relative;

  @include tab {
    border-top: 1px solid palette(grey,dark);
    border-left: 1px solid palette(grey,dark);
    flex: 0 0 69.95%;
    padding:40px;
  }
}

.log-rules {
  background: #F9F9F3;

  .log-rules-inner{
    padding: 20px 40px;
    border-top:1px solid palette(grey,dark);
    border-bottom:1px solid palette(grey,dark);

    p {
      margin:0 0 1px;
      padding:20px 0px;
    }
  }
}



.pointer-arrow {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #FFFEF7;
  position:absolute;
  top: -2px;
  left:20px;
  z-index:200;
  filter: drop-shadow(0px 1px 0 palette(grey,dark));

    @include tab {
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid #FFFEF7;
      position:absolute;
      top: 40px;
      left:-1px;
      filter: drop-shadow(1px 0px 0 palette(grey,dark));
    }
}

.log-heading {
  padding: 40px 20px;

  @include tab {
    padding:40px;
  }
}
