/// Agent test Inputs & Outputs

.agent-test {
  display: flex;
  flex-direction: column;
  background:#FFFEF7;

  @include tab {
    flex-direction: row;
  }
}


.agent-test-form{
  padding: 40px 20px;
  position: relative;
  width:100%;

  @include pretab {
    padding: 40px;
  }

    @include tab {
      float: left;
      width: 50%;
      height: 100%;
    }
}


.test-next-step{
  @include fontSize(12px);
}

.calculated-test-results-outputs-wrapper {
  padding:40px;
  border-top: 1px solid palette(grey,dark);
  background: #FAFBF3;
  position: relative;
  width:100%;


    @include tab {
      float: right;
      width: 50%;
      border-left: 1px solid palette(bg,x-dark);
      border-top: none;
    }
}

.test-results-input-list{
  border-top: 1px solid palette(grey,dark);
  padding-top: 8px;

  @include element(item) {
    border-bottom: 1px solid palette(grey, dark);
    padding: 10px 0 30px;
    margin-bottom: $margin-bottom-tiny;
  }
}


.agent-test-name {
  display:block;
  @include fontSize(12px);
  margin-bottom: $margin-bottom-tiny;
}

.value {
  display: block;
  @include fontSize(16px);
  color: palette(text, light);
}


.test-results{
  display: flex;
  height: 100%;
}

.calculated-test-results-outputs{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.test-results-output-list {

  @include element(item) {
    font-weight: $fwh;
    text-transform: capitalize;
  }
}

//.pointer-arrow {
//  width: 0;
//  height: 0;
//  border-left: 14px solid transparent;
//  border-right: 14px solid transparent;
//  border-top: 14px solid #FDFDF9;
//  position:absolute;
//  top: -2px;
//  left:40px;
//  z-index:200;
//  filter: drop-shadow(0px 1px 0 palette(grey,dark));
//
//    @include tab {
//      border-top: 18px solid transparent;
//      border-bottom: 18px solid transparent;
//      border-left: 18px solid #FDFDF9;
//      position:absolute;
//      top: 40px;
//      left:-1px;
//      filter: drop-shadow(1px 0px 0 palette(grey,dark));
//    }
//}
