///blank agent

.agent-empty {
  display:block;
  background:transparent !important;

  input {
    width:100%;
    border:none;
    background:transparent;
    border-bottom:1px solid palette(grey, dark);

    @include tab {
        width:49%;
    }
  }
}


.blank-agent-range-inputs{
  margin-top:20px;
  clear:both;
  @include clearfix;


  input{
    border:1px solid palette(grey,dark);
    flex:1;
    width: 100%;
  }
}

.blank-agent-range-inputs__wrap{
  display: flex;
  flex-direction:column;

  @include tab {
    margin: 0px 4px 0px 0px;
    flex-direction: row;
    justify-content: space-between;

    .range-input{
      flex:0 0 49.5%;
      width: 100%;
    }
  }
}
