.btn{
	@include btn;

		@include element(primary) {
		@include fontSize(16px);
		border-color:#cb2f41;
		color: #cb2f41;


 		@include tab {
			@include fontSize(18px);
			border-width: 1px;
		}
	}

	@include element(regular) {
 	}
}

.btn--cancel{
	color: palette(red, light);
	margin-left:20px;
}


/// Animated BTN
.btn__anim{
	border-color: transparent;
	border-left:none;
	border-right:none;
	position:relative;
	transition: all 0.3s ease 0s;
	transition: background 0.5s ease 0s;


		&:hover{
			border-color:#cb2f41;
			&:before{
				left:0;
			}
			&:after{
				right:0;
			}
		}

		&:before{
			content: "";
			width:1px;
			height:100%;
			left:-14px;
			background: #cb2f41;
			height: 100%;
    	position: absolute;
    	top: 0;
    	transition: all 0.4s ease 0s;

		}

		&:after{
			content: "";
			width:1px;
			height:100%;
			right:-14px;
			background: #cb2f41;
			position: absolute;
			top: 0;
			transition: all 0.4s ease 0s;
		}
}

.btn-orange {
	background: palette(orange,base);
	border-color: palette(orange,base);
}

.btn-blue {
	border-color: #493C4F;
	color: #493C4F;

	&:hover{
		background: #493C4F;
		border-color: #493C4F;
	}

}

.btn-clear {
	display: block;
	clear:both;
}
