.footer {
	background: palette(purple, xx-dark);
	border-top: 1px solid palette(blue, x-dark);
	color: $cream;
	position: relative;
	@include fontSize(12px);
	padding: 20px 0 0;
	clear: both;
	border-bottom: 10px solid #322237;

		@include tab {
			@include fontSize(14px);
			padding: 80px 0 0;
		}
}

.footer-inner {
	min-height: 520px;
	padding:80px 0px 20px;

	@include pretab {
		 min-height: 400px;
	}

	@include tab {
		min-height: 370px;
		padding: 0px;
	}

	@include med {
		min-height: 380px;
	}
}
.footer-inner .page {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.footer-nav {
	margin-bottom: 30px;
	width: 50%;

	@include pretab {
		float: right;
	}
	@include element(item) {
			margin-bottom:4px;
	}
}

.vcard {
	margin-bottom: 40px;
	width: 50%;
	float: left;
	.tel a {
		color:$cream;
		font-family: $heading-stack;
		letter-spacing:2px;
	}
	@include tab {
		margin-bottom: 60px;
	}
}

.footer_end {
	background: #322237;
	position: absolute;
	top:0px;
	left:0;
	right:0;
	@include padding-all(20px, 0, 20px, 20px);
	height:60px;

		@include tab {
			@include padding-all(20px, 0, 20px, 40px);
		}
}

.copyright {
	position: relative;
	clear: both;
	padding: 10px 0px 0px;
	border-top: 1px solid palette(purple, base);
	text-align: center;

	@include pretab {
		text-align: left;
	}

	@include med {
		top:40px;
		padding: 20px 0px 0px;
	}

	@include element(content) {
		margin:10px 0 0;
		@include fontSize(8px);
		letter-spacing: 2px;

			@include pretab {
				width:100%;
				letter-spacing: 4px;
			}

			@include med {
				margin: 0px;
				@include fontSize(9px);

			}
			@include lrg {
				@include fontSize(10px);

			}
	}
}



.backtotop{
	cursor: pointer;
	background: palette(purple, xx-dark);
	position:absolute;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	display:none;

		@include pretab {
			display:block;
		}

	a{
		@include centerer;
		display:block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $cream;
	}
}
