// classes for forms throughout the site.

.toggled-credit-card {
	padding: 20px 0;
}

.input-wrap{
	margin-bottom:10px;
//	overflow-x: hidden;
}

.input-wrap-last {
	margin-bottom:18px;
	overflow:hidden;
}

.form_text{
	display:flex;
	flex: 1 0 40%;
	flex-direction:column;
	order: 1;
	padding-right: 20px;
	margin-bottom:16px;
}

.form-wrapper{
	@include padding-all(0px, 0px, 20px, 0px);

	@include tab {
		margin: 0 auto;
		display: flex;
		justify-content: column;
	}

		form{
			flex-direction:flex-end;
			border:1px solid lighten(palette(grey,dark), 5%);
			@include padding-all(40px, 20px, 40px, 20px);
			@include animation ('fadeSlideInLeft .5s cubic-bezier(.24,.06,.29,.87)');
			background:#fdfcf3;


			 @include tab {
				flex:1 0 60%;
			 	margin-right:40px;
        @include padding(40px);
				order: 1;
				//box-shadow: 30px 30px 0px darken(#f9f9f3, 1%);

			 }
		}
}

.form_user_request{
	@include fontSize(12px);
}

.checkbox{
	position:relative;
	@include margin-all(20px, 0, 20px, 0);
}

.checkbox,
.radio {
  cursor: pointer;
  display: block;
  position: relative;

  &.inline {
    display: inline-block;
  }
  input {
    background-color: palette(grey,base);
		border:1px solid palette(grey, dark);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

input[type=checkbox],
input[type=radio] {
	outline: none;
	background:palette(bg,base);
	cursor: pointer;
	width:18px !important;
	height: 18px !important;
	overflow: hidden;
	border:1px solid palette(bg,x-dark);
	position:relative;

}
//
input[type=checkbox] {
  border-radius: 0;
  text-align: center;
  float:left;
	top:6px;
}

input[type=radio] {
  border-radius: 100%;
}


[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label{
	cursor: pointer;
    margin-left: 30px;
    position: relative;
		@include fontSize(9px);

}

.user-forms label{
	@include fontSize(11px);
	text-transform: uppercase;
	letter-spacing: 1px;

	@include tab {
		letter-spacing: 2px;
	}
}
///Inline errow handling
label small{
	@include fontSize(7px);
	font-weight:$fwb;
	letter-spacing:.5px;
	color: $light-color;
}
.error {
	color: palette(red, base);
}

.error_input {
}
