///DASHBOARD styles

.outer_wrap {
    top: 20px;
    @include margin-all(40px,0,0,0);
    min-height:100%;

    @include tab {
      top: 40px;
    }

    @include med {

      margin-bottom:40px;
    }
}

.dashboard {
  display: flex;
  flex-direction: column;
  border:1px solid palette(grey, dark);
  border-top:none;
  flex:1 0 100%;
  height:100%;

    @include pretab {
      flex-direction: row;
      flex-wrap: wrap;
    }


}

.dashboard__main-zone {
  display: flex;
  flex-direction: column;
  flex:1;
}


.dashboard__agent-header{
  display:none;
  border-top:1px solid palette(grey, dark);
  flex-direction:row;
  flex:1 0 100%;
}
.dashboard__content{
  flex:  1;
  flex-wrap:wrap;
}


.dashboard__main-column{
  flex-direction: column;
  flex: 1 0 100%;
  background:$main-bg;
  box-shadow:  0 1px 0 palette(grey, dark), 1px 1px 0 palette(grey, dark), -1px 1px 0 palette(grey, dark);
  justify-content:space-between;

    @include pretab {
      flex: 1 0 75%;
    }


    @include lrg {
      flex: 1 0 80%;
    }
}

.dashboard__sub-sections{
  padding: 20px;
  margin: 40px 0 0;

  @include tab {
      padding: 40px;
  }
}



/// Sidebar dash
.agent-sidebar{
  border-right:1px solid palette(grey, dark);
  border-left: none;
  border-top: none;
  border-bottom:none;
  background:$main-bg;

    @include pretab {
      flex:  0 0 25% ;
    }

    @include lrg {
      flex: 0 0 20%;
    }

}



.agent-sidebar__agent-list{
    li{
      @include animation ('fadeIn .5s ease-in-out')
      padding:20px;
      background:darken($main-bg,.25%);
      border-bottom:1px solid palette(grey, dark);
      position:relative;

      a{
        display:block;
        @include fontSize(16px);
        font-family: $heading-stack;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

    @include med {
      @include padding-all(18px, 40px, 18px, 40px);
      transition: padding .3s ease-in;

      &:hover, .agent-selected{
        padding-left:50px;
        background: #FBFBEF;
      }
    }
  }
}




/// add agent button
.agent-sidebar__add-agent{
  @include fontSize(18px);
  font-family:  $heading-stack;
  line-height: 50px;
  color: palette(bg, base);
  text-transform:uppercase;
  background: linear-gradient(35deg,palette(orange,light) 45%, palette(red,base) 85%);;
  display:  block;
  padding-left: 20px;
  transition: all .3s ease-in;

  &:hover{
    background:  linear-gradient(35deg,palette(red,light) 45%, palette(orange,base) 85%);;
    color: $white;
  }

    @include med {
      @include fontSize(22px);
      line-height: 70px;
      padding-left: 40px;
    }
}

.square-plus {
    display:  block;
    width: 50px;
    height: 50px;
    border-left: 1px solid palette(orange,x-dark) ;
    float: right;
    text-align: center;
    z-index: 2;

      @include med {
        width: 70px;
        height: 70px;
      }



      svg.svg-plus{
        stroke: $white;
        transition:  fill .4s ease-out;
        width:16px;

          path {
            stroke-width:  1;
          }

          &:hover{
            fill: $white;
          }
      }
}


/// Chart styles


.dashboard__canvas-container {
  position: relative;
  width: 100%  !important;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 20px 40px;
  background: rgba(#F7F8EE,.35);
  border-bottom: 1px solid palette(grey, dark);

  @include tab {
    padding: 40px 40px 80px;
  }
}

.aspect-ratio{
  height: 0;
  padding-top: 60px;
  padding-bottom: 52%;
}


.dashboard-top-section{
  display:flex;
  flex-direction:column;
  margin-bottom:20px;

    @include tab {
      flex-direction:row;
      margin-bottom:0px;
      justify-content: space-around;
    }
}


.dash-modules{
  box-shadow: inset -1px 0 0 palette(grey, dark), inset 0 1px 0 0 palette(grey, dark);
  padding:20px ;

    @include tab {
      flex: 1;
      padding:10px 20px 30px;
      float:left;

      &:last-child{
         box-shadow: inset -1px 0 0 transparent, inset 0 1px 0 0 palette(grey, dark);
      }
    }

    @include med {
      padding:15px 20px 30px;
    }
}

.dash-modules__data{
  font-family: $heading-stack;
  font-weight: $fwh;
  color: $color-text;
  @include fontSize(18px);
  letter-spacing: 1.25px;
  //text-transform: uppercase;

  @include med {
    @include fontSize(20px);
  }
}

.copy-paste{
    margin-left: 7px;
    position:relative;
    top:0px;


    @include element(svg) {
      fill: #7A5793;
      width: 9px;
      cursor: pointer;

      &:hover{
        fill:palette(purple,dark);
      }
  }
}



.arrow-nav-wrapper{
  position: relative;
  padding:20px;
  background: transparent;
  box-shadow: inset 0 -1px 0 0 palette(grey, dark), inset 0 1px 0 0 palette(grey, dark); //border-bottom
  //margin-bottom: 20px;
  width: 100%;

  @include med {
    padding:20px 20px 28px;
    //margin-bottom:20px;
  }
}
.arrow-nav-wrapper-inner {
  width:240px;
  margin:0 auto;
}

.arrow-nav {
  font-family:$heading-stack;
  text-transform:uppercase;
  @include fontSize(18px);

  @include element(prev-arrow) {
  position:absolute;
  bottom:-4px;
  left:30px;

  span{
    display:inline-block;
    margin-right:10px;
    .left-arrow {
      width:12px !important;
        stroke-width:2;
        stroke:palette(purple, base);
    }
  }
}
  @include element(next-arrow) {
    position:absolute;
    right:30px;
    bottom:-4px;

    span{
      display:inline-block;
      margin-left:10px;

      .right-arrow {
        width:12px !important;
        stroke-width:2;
        stroke:palette(purple, base);
      }
    }
  }

}
