//mobi nav


.mobi_nav{
	//	transform: translate3d(-100%, 0, 0);
   	transition: transform 0.75s ease-in;
		@include animation ('fadeSlideInRight .4s ease-in');
		transition-timing-function: cubic-bezier(.17,.67,.76,.43);
    width: 240px;
    position: fixed;
    top: 0;
    left:0px;
    height: 100%;
    top: 0;
    color:palette(bg, base);
    border-right:1px solid palette(blue, x-dark);
    z-index: 9999;
    background: #231A26;
    @include fontSize(10px);
    letter-spacing: 2px;
    text-transform:uppercase;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

		.navigation {
			@include padding-all(40px, 40px, 0px, 40px);

			@include element(item) {
				margin-bottom: 20px;
				height:auto !important;
			}
		}

    	a{
    		color:palette(bg, base) !important;

				 &:hover{
					color:palette(l-blue,base);
				 }
    	}

    	@include tab {
    		display:none
    	}
}

//activated nav

.mobi_nav--is_active {
	position: fixed;
	transform: translate3d(0%, 0, 0);

	.settings__user-controls {
		border-top: 1px solid #45384b;
		padding-top: 32px;
	}

	.user-detail__email,
	.user-detail__plan,
	.settings__user-controls a {
		padding:4px 40px;
		@include fontSize(10px);
		letter-spacing: 2px;
		text-transform:uppercase;
		text-align: left;
	}
	.login-menu-not{
		.login-nav {
			display: block;
			padding-left:40px;
		}
		ul{

			li{
				padding:16px 0;
				height:inherit;

				a{
					text-align:left;
					@include fontSize(10px);
					letter-spacing: 2px;
					text-transform:uppercase;
				}
			}
		}
	}
}

.mobi_nav--is_closed {
	display:none;
}


.mobi_nav {

	.login_menu_inner{
		display: block;
		border-top:1px solid palette(blue, x-dark);
		width:100%;
		height:auto !important;

		.login-nav {
			padding-top:10px;
			height: auto !important;

				@include element(item) {
				border:none;
				padding:0;
				text-transform:capitalize;

				&:nth-child(2){
					border-left:none;
				}
			}
		}
	}
}


/// Animate overlay when nav triggered


.overlay{
  display: none;
}

.overlay--is_active{
	cursor: pointer;
	display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba($main-bg, 0.97);
  @include animation ('fadeSlideInLeft .6s ease-in');
	transition-timing-function:cubic-bezier(.13,.26,1,.09);

			@include tab {
				display: none;
			}
}



/// SMALL SCREEN NAV ICON BURGER MENU
.burger-lines{
	  cursor: pointer;
	  padding: 16px 0;
	  display: flex;
	  order: 3;
	  align-items:center;
	  z-index:15000;
	  width:32px;
	  height:1px;
	  margin-right:15px;

	  	@include tab{
	  		display:none;
	  	}

	  span {
	    position: relative;
	    display: block;
	    width: 32px;
	    height: 1px;
	    background: palette(purple, base);
	    transition: all .2s ease-in-out;

	    &:before, &:after {
	      position: absolute;
	      background: palette(purple, base);
	      content: '';
	      width: 32px;
	      height: 1px;
	      transition: all .2s ease-in-out;
	    }

	    &:before {
	      top: -8px;
	    }

	    &:after {
	      top: 8px;
	    }
	  }
	}

	.actived-menu {
	  span {
	    background: transparent;

	    &:before {
        width:24px;
	      transform: rotate(45deg) translate(5px, 6px);
				background:palette(red,dark);
	    }

	    &:after {
        width:24px;
	      transform: rotate(-45deg) translate(5px, -6px);
				background:palette(red,dark);
	    }
	  }
	}
