///nav

.nav-mixed {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	flex: 2;

		@include tab {
			display: flex;
			flex-wrap: wrap;
		}
}


.main-nav{
	display: none;
	justify-content: flex-start;
	height:100%;

		@include tab {
			display: flex;
			justify-content: flex-start;
		}
}


.multi-level-nav {
	display: flex;
	justify-content: flex-start;
	height: 100%;
}

.multi-level-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 100% !important;
	align-items: center;

	.navigation__item {
		display: flex;
		align-items:center;
		flex: 1  auto;
		text-align: left;
		margin: 0;
		height:100%;

	.navigation__link {
		@include fontSize(13px);
		text-transform: capitalize;
    display: flex;
    align-items: center;
		text-align: left;
		padding: 0 1em 0 .25em;
		height: 100%;
		position: relative;
		color:#603a7b;

		&:before{
			content: "";
			height: 2px;
			width: 0;
			background: transparent;
			display: block;
			position: absolute;
			top: 0;
			transition:width .5s ease-in-out;
		}

		&:hover:before {
			background: palette(orange,base);
			width: 20px;
		}

			@include med {
				@include fontSize(14px);
				padding: 0 1em 0 .25em;
			}
			@include xl {
				//padding-right: 2em;
			}
		}
  }
}


// small screen nav
.burger-lines{
	  cursor: pointer;
	  padding: 16px 0;
	  display: flex;
	  order: 3;
	  align-items:center;
	  z-index:1100;
	  width:32px;
	  height:1px;

	  	//@include tab{
	  	//	display:none;
	  	//}

	  span {
	    position: relative;
	    display: block;
	    width: 32px;
	    height: 1px;
	    background: $accent-color-red;
	    transition: all .2s ease-in-out;

	    &:before, &:after {
	      position: absolute;
	      background: $accent-color-red;
	      content: '';
	      width: 32px;
	      height: 1px;
	      transition: all .2s ease-in-out;
	    }

	    &:before {
	      top: -8px;
	    }

	    &:after {
	      top: 8px;
	    }
	  }
	}

	a.actived-menu {
	  span {
	    background: transparent;

	    &:before {
	      transform: rotate(45deg) translate(5px, 6px);
	    }

	    &:after {
	      transform: rotate(-45deg) translate(5px, -6px);
	    }
	  }
	}

	.upgrade-plan-link{
		color: #DE6060 !important;

	}


	.active{
		color:$accent-color-red;
	}
