///_page_section_titles.scss

.page-intro-zone{
	@include med {
		@include margin-all(40px, auto, 0px, auto);
		@include animation('basicSlideDown .5s linear forwards 1');
	}
}


.big-para{
	@include animation('fadeIn 1.25s ease-in forwards 1');
}

.page-title-wrap{
	padding:0;

	@include element(heading) {

		&:before{
			@include before-top-deco(40px, 2px, 40px, palette(orange, base));
		}
	}
}

.main-intro-text{
	margin-bottom:$margin-bottom-regular;

		@include tab {
			max-width: 700px;
		}

		@include med {
			width:55%;


			p{
				padding-right:10%;
			}
		}
}
