////////////////////////////////
///    RANGES
///////////////////////////////

.range-overlay{
  display:none;
}
.range-overlay--is_active{
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
  background-color: rgba($main-bg, 0.97);
  @include animation ('fade .5s ease-in');

    @include tab {
      border:4px solid $white;
    }
}

.sets{
  background: #FCFCF4;
  border:1px solid #F0F0EA;
  float:left;
  width: 100%;

  @include tab {
    width: 50%;
  }

  @include med {
    width: 20%;
  }


  h3{
    margin-bottom: 10px;
    letter-spacing: 1px;
    @include fontSize(14px)
  }

  input{
    background: #eee !important;
    border:1px solid #f5f5f5 !important;
    height:50px !important;
    width: 100% !important;
  }
  div {
    min-height:110px;
    padding: 4% 4% 0;

    .select{
      background: #f6f6f3 none repeat scroll 0 0;
      border: 1px solid #F0F0EA !important;
      border-radius: 0;
      padding: 0;
      display: block;
      height: 50px;
      line-height: 1.5;
      min-height: 0;
      overflow: hidden;
      position: relative;
      width: 100% !important;
    }
    .select::after {
      content: '\25BC';
      bottom: 0;
      background: lighten(#FCFCF4, 1%);
      color: #85649c;
      content: "▾";
      padding: 0.5em 0.85em;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid #F0F0EA;
}
/* Transition */
.select:hover::after {
  color: #85649c;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      font-size: 12px;
      letter-spacing: normal;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: transparent;
    }
    &:nth-child(2){
      border-top:2px solid #F0F0EA;
      border-bottom:2px solid #F0F0EA;
    }
  }
}

.close-advance-range {
  position:absolute;
  top:0px;
  right:0px;
  width:60px;
  height:60px;
  background: #fff;
  border: 1px solid #fff;

  svg {
    width:20px;
    @include centerer;
    fill: palette(purple, base);
  }
}

.advance-range_active {
  display:block
}



.advance-range_not-active{
  display:none;
}

.advance-range{
  border: 20px solid #fff;
  height:100%;
  width: 100%;
  position: fixed;
  padding:40px 10px 80px;
  top: 0%;
  left: 0%;
  right: 0%;
  overflow: auto;
  z-index: 800000 !important;
  background: #F0F0EA;

  @include tab {
    padding:40px 40px 80px;
  }

  @include med {
    padding:40px 60px 80px;
  }

  .range-button-wrap {
    clear: both;
    padding: 40px 0;

    button{
     display: block;
    }
  }
}
.rule-range-input-wrap {
  padding:0px;
}

.rule-settings-wrap {
  position: relative;
  margin:0px 0px 10px 0;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFEF7;
    position:absolute;
    top: 0px;
    left:10px;
    z-index:200;
    filter: drop-shadow(0px 1px 0 palette(grey,dark));
  }

}

.rule-settings {
  width: 100%;
  padding: 10px 10px 10px;
  overflow: auto;
  display: block;
  background: #FAFBF3;
  border: 1px solid #DCE0E4;

  @include med {
    width: 50%;
  }

  .label{
    @include fontSize(12px);
    margin-bottom: 0;
    line-height: 0;
  }

  .range-input[type="text"]{
    border: 1px solid #DCE0E4;
    width: 100%;
    background: #FAFBF3 !important;
    padding: .25em 1em;
    height: 50px;
    margin: 0px;

    @include tab {
      width: 100% !important;
      display:inline;
    }
  }

  .blank-agent-range-inputs {
    margin-top:0;
  }
}



.advance-link{
  @include fontSize(12px);
  text-transform:lowercase;
  font-variant:small-caps;
  display:block;
  float: right;
  margin: 5px 5px 0px 0px;

  span svg {
    margin-right: 8px;
    position: relative;
    top: 2px;
    width: 11px !important;
  }
}

.range-input-wrap{
  width: 100%;
  border: 1px solid palette(bg, light);
  background: palette(bg, dark);
  padding: 20px;

  input[type="number"]{
    margin-left:0;
    background: palette(bg,base);
  	border: 1px solid palette(bg,dark);
    padding: 8px 10px;
    font-family: $heading-stack;
    @include fontSize(18px);
    font-weight: $fwn;
    width:100%;

    @include tab {
      width: inherit;
    }
  }

  div{
    width:100%;

    @include med {
      margin:0 1%;
       &:nth-child(2n){
         margin-right:0;
       }
    }
  }
}

.close-range {
  position:absolute;
  top:20px;
  right:20px;
  cursor: pointer;
}
