///rule edit forms for rules inside of agents
.div-inline {
  display:inline !important;
}

.rule {
  display: flex;
  //background:#FDFDF9;
  border:1px solid palette(grey, dark);
  border-left: none;
  border-right: none;
  margin: -1px 0 0 ;
  @include fontSize(13px);
  transition: background .3s ease-in;
  align-items:center;
  transform: all .5s linear;
  padding: 20px 60px 20px 0;
  z-index: 2;

    @include tab {
      @include fontSize(14px);
      line-height: 2em;
      padding: 25px 60px 25px 40px;
    }

  &:hover{
    background: darken(#FAFBF3, .25%);
    cursor: pointer;
  }

  input[type="text"]{
    width: auto;
    display: inline-block ;
    margin: 0px 0px 10px 0px;
    border: none;
    border-bottom: 1px dotted palette(grey, dark);
    background: none;
    padding:0 .5em;
    letter-spacing: normal;
    transition: all .3s ease-in;

    &:focus{
      border-bottom-style: solid;
      background: transparent;
    }
  }
}



.no-edit{
  opacity:.5;
  transition:all .3s ease-in;

  &:hover{
    opacity:1;
  }
}

.no-edit-hide{
  display:none !important;
}

///Block
.rule-form {

  @include element(input) {
    display:inline-block;
  }

  @include element(change-type) {
    margin:0 4px;
  }

  @include element(var-antecedent-type) {
    margin:0 2px;
  }

  @include element(text-wrap) {
    @include padding-all(0, null, 0, 20px);
    align-items:center;
    text-align: left;
    width:100%;

  &:hover {
    cursor: pointer;
  }

      @include pretab {
        @include padding-all(0, null, 0, 40px);
      }

      @include tab {
        @include padding-all(0, null, 0, 0)
      }
}

  /// increase delet if them functions
  @include element(function) {
    font-weight: $fwb;
  }

  @include element(var-expression-type) {
    font-weight: $fwb;
  }

  @include element(constant) {
    text-transform: capitalize;
  }

  .rule-form__user-input{
    display:inline-block !important;
    width:auto;
  }
}

.edit-mode .rule-form__var-expression-type {
    font-weight: $fwb;
    background:#dbdfe4;
    border-radius: 4px;
    border: 1px solid #fff;
    padding:4px 5px;
    &:before {
      content: "";
      width:14px;
      height:14px;
      background:  url("/assets/i/trash.svg") 0px 3px no-repeat;
      display:inline-block;
      background-size: 80% 80%;
    }

  }

/// inline styles in component
.autocomplete-wrapper{
  position:relative;
  display:inline-block;
  z-index: 1000;
}

.autocomplete-wrapper-inner{
  z-index: 10000;

  ul{
    @include animation('editModeOpen .3s ease-in forwards');

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #FFFEF7;
      position:absolute;
      top: -1px;
      left:calc(50% - 10px);
      z-index:200;
      filter: drop-shadow(0px 1px 0 palette(grey,dark));
    }

  }
}

///define user text size on Rules
.user-input-text {
  @include fontSize(15px);
}

///block
.rule-form-actions{
  display: flex;
  justify-content: flex-end;
  display:none;

    @include element(edit) {
      svg {
        width:33%;
      }
    }
}


.rule-form-actions__delete{
  background:palette(red,base);
  transition:background .3s ease-in;

  &:hover {
    background:palette(red,dark);
  }
}

.rule-form-actions__save{
  background:palette(l-blue,base);
  transition:background .3s ease-in;

  &:hover {
    background:palette(l-blue,dark);
  }
}

.rule-btn{
  height:58px;
  width:60px;
  margin:0;
  display:block;
  align-items: center;

  @include tab {
    height:68px;
    width:70px;
  }


  &:hover{
    cursor: pointer;
  }
  svg {
    width:50%;
  }
  svg.delete-icon{
    fill: transparent;
    stroke-width:1;
    stroke: $white;
    width:38%;
  }
}

.rule-form-actions__save{
  color:$white;
  font-weight:bold;
  margin-right:1px;
  @include animation('fadeIn 1s ease-in forwards');
}

.rule-form-actions__cancel{
  @include animation('fadeIn 1s ease-in forwards');
  position:absolute;
  top:0;
  right:0;
  display: none;
  border-bottom:1px solid palette(grey, dark);
  border:none;

 svg {
    fill:$accent-color-red;
    stroke-width:1;
    width:40%;
  }
}


.rule-weight{
  clear: both;
  border-top: 1px solid palette(grey, dark);
  margin: 10px 0px ;
  font-weight: $fwb;
  padding:20px 0 ;
  display: block;
}

.rule-form__display-weight{
  //display:block;
  font-weight: $fwb;
  margin: 40px 4px;
}

.rule-form__input {
  width:auto !important;
}

.trigger-range {
  margin-right: 8px;
  margin-left: 0;
  svg{
    width:12px;
  }
}

.cancel{
  fill:palette(red,base);
}

.edit-hint{
  fill: palette(purple, base);
  position:absolute;
  right:20px;
  top:40%;
  opacity:0;
  transition: opacity .3s ease-in;

  @include tab {
    right:40px;
  }
}

.rule:hover .edit-hint {
  opacity:1;
  @include animation ('fadeSlideInLeft .3s ease-in');
}

.ui-icon{
  width:16px !important;
}


.edit-mode{
  @include animation('editModeOpen .3s ease-in forwards')
  display: flex;
  background:#fdfdf9;
  //border: 10px solid #FAFBF3;
  //border: 10px solid #FFFDF2;
  border: 10px solid #F7F8EE;
  margin: 0;
  padding:0;
  position:relative;
  flex-direction:column;
  min-height:250px;
  height:auto;

  .rule-form{
    display:flex ;
    flex-direction:column;
    position:relative;
    width:100%;
    border:1px solid palette(grey, dark);

    @include element(text-wrap) {
      display:flex;
      word-wrap: break-word;
      hyphens: auto;
      overflow-wrap: break-word;
      min-height:200px;
      padding:40px 20px ;

        @include tab {
          padding:40px 40px 0px 40px;
        }
      }

      @include element(text-wrap-inner){
        align-items:center;
        width:100%;
      }

      input[type="text"]{
        border-bottom:1px solid palette(grey,dark);
        color: palette(text, base);
      }
  }

  .rule-form-actions__cancel {
    display:block;
    @include animation ('fadeSlideInLeft .6s ease-in-out forwards');
  }
  .rule-form-actions {
    display: flex;
    align-items: flex-end;
    align-items: center;
    height: 60px;
    border: 1px solid palette(grey,dark);
    border-left: none;
    border-right: none;
    border-bottom: none;
    background: #FDFDF9;
    width: 100%;
    padding-right: 1px;

    @include tab {
      height: 70px;
    }
  }

  .edit-hint{
    display:none;
  }
}

.rule-options-closed {
  display:none;
}

.rule-options-is-active {
  display:block;
}

.range-button-wrap {
  clear: both;

  button{
   display: none;
  }
}



//Not expression
.not-expression {
  font-weight: $fwb;
}
