///user nav  styles
/// user nav + login nav

.login-menu-not{
	right: 0px;
	width: 180px;
	padding-right: 20px;
	height: 100%;//safari  needs this height declared cuz you know...safari

	@include med {
		width: 200px;
		right: 20px;
	}
}

.user-nav{
	display: none;
	justify-content:flex-end;
	align-items: center;
	height:100% !important;
	position:relative;

		@include tab {
			width:240px;
			display: flex;
		}

		@include med {
			width: 280px;
		}

}


///loged in user stylle/////////////////


.user{
	@include tab {
	display: flex;
	align-items: center;
	cursor: pointer;
	width:100%;
	}
}

.user__logged-in {
	line-height:1.2;
	margin:20px 0 0;

		@include tab {
			padding-top: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: space-between;
			padding-left:0px;
			margin: 0 30px 0 20px;
		}
}



//end logged in user style/////////////////

.login_menu{
	height:100% !important;
	width:100%;
}

.login_menu_inner{
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.login-nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	align-items: center;

		@include tab {
			height: 100%;
		}

	@include element(item) {
		@include fontSize(12px);
		display: flex;
		margin-bottom:0;
		height:100%;
		align-items:center;

		@include med {
			@include fontSize(14px);
		}

		a{
			width:100%;
			align-items:center;
			text-align:center;
			padding: 23% 0 23% 0;
		}
	}
}


/// signup btn
.signup{
	@include fontSize(10px);

	@include tab {
		background: linear-gradient(35deg,palette(orange,base) 45%, palette(red,dark) 85%);
		letter-spacing: 1px;
		padding:5px 16px !important;
		border-radius:20px;
		text-transform:uppercase;
		color:#FFFAE3;
		font-weight:$fwb;
		transition:background .3s ease-in;

		&:hover{
			color:$white ;
			background: linear-gradient(35deg,palette(red,base) 55%, palette(orange,base) 85%);
		}
	}
	@include med {
		@include fontSize(11px);
	}
}

.user-detail{
	width:100%;
	position:relative;
}

.user-detail__plan {
	font-family: $font-stack;
	text-transform:uppercase;
	@include fontSize(10px);
	letter-spacing:.5px;
	font-weight:$fwh;

	em{
		color: palette(red,base);
		font-style:normal;
	}

}

.user-detail__email{
	@include fontSize(12px);
	margin-bottom:12px;
	font-weight: $fwb;
}

.settings__user-controls{

	a{
		@include fontSize(12px);
		display:block;
		margin:12px 0;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;

		@include tab {
			text-align:left;
		}
	}

	@include tab {
		position:absolute;
		top:-200%;
		width:100%;
		height:100%;
		background:$white;
		transition:top .2s ease-in;

			a{
				flex:0 0 40%;
			}
	}
}

.settings{
	width: 50%;
	height: 100%;
	z-index: 3000;

	&:hover{
		cursor: pointer;
	}

		@include tab {
			background: #FCFCF4;
			box-shadow: inset 1px 0 0 palette(grey, dark), inset 0 -1px 0 0 palette(grey, dark);
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 80px;
			height: 102%;
			transition: top .4s linear;
			transition: opacity .1s linear;
		}
}

.masthead_lined .user

.settings {
	border-bottom:none;
}

.setting__trigger {
	display: flex;
	flex-direction:row;
	margin: 20px 0 0 0;
	justify-content:center;

	@include tab {
		flex-direction:column;
		height:100%;
		margin:0;
	}
}

.setting__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba($main-bg, 0.97);
	cursor: pointer;
}

.setting__overlay--closed{
	display:none;
}

.settings__triangle {
  display:inline-block;
	margin:0 2px;
	transition: all .2s ease-in-out;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid palette(red,base);

	&:nth-child(1){
	 opacity: 0;
	}

	&:nth-child(3){
	 opacity: 0;
	}

		@include tab {
	    display:block;
			margin:2px 0;
		}
}


.settings__trigger--closed {

 	.settings__triangle {
		@include tab {
		width: 24px;
		height: 1px;
		border: none;
		background:palette(orange,base);
		opacity: 1;
		transform: rotate(45deg) translate(3px, 5px);
			&:nth-child(3){
				opacity:0;
			}
			&:nth-child(2){
				transform: rotate(-45deg) translate(-2px, -1px);
			}
		}
	}
}

.open_settings {
	@include animation('fadeInDown .5s ease-in');

	right: 0;
	top: 0;
	border: 1px solid palette(grey, dark);
	border-top:none;
	height: 300px;
	background:#F9F9F3;
	padding: 30px 30px 0;
	width: 320px;
	z-index: 2000;
}
