.grid-wrap{
	display: flex;
	flex-direction: column;
	margin:0;
	width: 100%;

		@include med {
			margin:80px 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}

		@include lrg {
			margin:0;
		}
}

///box-grid
///single box

.fuzzy-home-values {
	padding:0px;
}

.fuzzy-home-values__col{
	width:100%;
	margin:0 0 40px;
	padding:40px 15px 0px;
	display:flex;
	flex-direction:column;
	flex:1;
	transition: all .75s ease-in;
  min-height:450px;

	&:hover{
		background: transparent;
	}

		@include small-landscape {
			min-height:550px;
		}

		@include tab {
			align-items: stretch;
			min-height: 450px;
			flex: 1;
			padding: 20px;
		}

		@include med {
      &:nth-child(2n){
        background: transparent;
			  border:none;
      }
		}
}


.value__content{
	flex: 1;
	align-items: stretch;
	flex-direction: column;

	p:before{
		@include before-top-deco(40px, 1px, null, palette(red, base));
		margin:1.85715rem auto 1.85715rem;
	}

}
.value__btn-wrapper{
	display: flex;
  flex: 1;
	flex-direction: column;
  justify-content: flex-end;
}
.fuzzy-home-values .btn{
	margin-bottom: 80px;
  max-width:280px;
  align-self:center;
}


.fuzzy-home-values p{
	min-height:100px;

	@include tab {
		padding:0 80px;
		@include fontSize(16px);
	}
	@include med {
		padding:0;
		min-height:160px;
		@include fontSize(15px);
	}
}

.fuzzy-home-values h2 {
	margin-bottom: 0px;
	@include fontSize(22px);
	font-weight: 500;
	letter-spacing: normal;

	@include xl {
		@include fontSize(24px);
	}
}



.fuzzy-home-values__content{
	width:100%;
}

//double box

.fuzzy-home-values-2{
	position: relative;
	margin: 0px;
	padding: 60px 20px 100px;
	display: flex;
	clear: both;
	border-top: 1px solid #A893B2;
	border-bottom: 1px solid #A893B2;

	@include tab {
		padding: 100px 40px 140px;
	}
	@include lrg {
		padding: 100px 80px 140px;
	}
}
